body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6{
	margin: 0;
}

header{
	background-color: #3a7dfd;
	color: #fff;
	padding-top: 54px;
	padding-bottom: 17px;
	font-size: 18px;
}

.header-pretitle{
	margin-top: 102px;
}

.header-title{
	font-size: 40px;
	font-weight: 700;
	line-height: 36.81px;
	margin-top: 21px;
}

.header-subtitle{
	font-weight: 400;
	margin-top: 20px;
}

.header-btn-block{
	max-width: 210px;
}

.header-btn{
	margin-top: 32px;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #fff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding: 19px 57px;
}

header small{
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 8px;
}

.portfolio{
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;
}

.portfolio-block{
	background-color: #ffffff;
	padding-top: 29px;
	padding-bottom: 44px;
}

.portfolio-title, .portfolio-subtitle{
	text-align: center;
}

.portfolio-title{
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.portfolio-subtitle{
	margin-top: 10px;
	margin-bottom: 29px;
	color: #7bb9ff;
	font-size: 14px;
}

.portfolio-col-1{
	padding-left: 50px;
}

.portfolio-col-2{
	padding-right: 50px;
}

.portfolio h3{
	margin-top: 15px;
	font-size: 18px;
	color: #072b6f;
	font-weight: 700;
	text-transform: uppercase;
}

.portfolio-p{
	margin-top: 20px;
	color: #8f8f8f;
	font-size: 14px;
}

.portfolio-block a{
	color: #072b6f;
	font-size: 14px;
	text-decoration: underline;
}

footer{
	padding-top: 61px;
	padding-bottom: 100px;
	background-color: #3a7dfd;
	color: #deedfe;
	font-size: 18px;
}

h4{
	color: #fefefe;
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
}

.footer-text{
	margin-top: 7px;
}

.social-block{
	text-align: center;
}

.social-block p{
	margin-bottom: 21px;
}

.social-block a{
	padding-left: 12px;
	padding-right: 12px;
}

.footer-feedback-block{
	text-align: center;
}

.footer-feedback{
	margin-bottom: 12px;
}

.footer-btn{
	display: inline-block;
	padding: 12px 40px;
	background-color: transparent;
	border-radius: 50px;
	border: 1px solid #ffffff;
	color: #deedfe;
	font-size: 18px;
}



@media (max-width: 1200px){
	.header-pretitle{
	margin-top: 60px;
	}
}

@media (max-width: 992px){
	.header-img{
		display: none;
	}

	.header-pretitle{
	margin-top: 0;
	}

	h4{
		font-size: 18px;
	}

	.footer-text{
		font-size: 15px;
	}

	.social-block a{
		padding-left: 8px;
		padding-right: 8px;
	}

	.social-block img{
		width: 30px;
	}

	.footer-btn{
	padding: 8px 40px;
	font-size: 15px;
	}
}

@media (max-width: 768px){
	.portfolio-col-1{
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 40px;
	}

	.portfolio-col-2{
		padding-left: 30px;
		padding-right: 30px;
	}

	h4, .footer-text{
		text-align: center;

	}

	.footer-text{
		margin-bottom: 30px;
	}

	.social-block{
		margin-bottom: 30px;
	}
}